@import url('/node_modules/@flaticon/flaticon-uicons/css/all/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@import url('/node_modules/preline/dts-config.js');
@import url('/node_modules/preline/preline.d.ts');

html {
    zoom: 0.82;
}

body {
    overflow-x: hidden;
}

/* Plugins */
/* @import "@tailwindcss/forms"; */

/* .head-shap {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
} */

/* light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
extrabold = 800 */

.bg-gradient-header {
    background-image: linear-gradient(-120deg, #093FB4 52.5%, #B2C7F6 40.2%);
    width: 100%;
    height: 100%;
}

.pop-regular { font-family: "Poppins", sans-serif;font-weight: 400; }
.pop-medium { font-family: "Poppins", sans-serif;font-weight: 500; }
.pop-semi { font-family: "Poppins", sans-serif;font-weight: 600; }
.pop-bold { font-family: "Poppins", sans-serif;font-weight: 700; }

.k2d-regular{ font-family: "K2D", sans-serif; font-weight: 400; }
.k2d-medium{ font-family: "K2D", sans-serif; font-weight: 500; } 
.k2d-semi{ font-family: "K2D", sans-serif; font-weight: 600; }
.k2d-bold{ font-family: "K2D", sans-serif; font-weight: 700; }
  
.hanu-regular { font-family: "Hanuman", sans-serif; font-weight: 400; }
.hanu-medium { font-family: "Hanuman", sans-serif; font-weight: 500; }
.hanu-semi { font-family: "Hanuman", sans-serif; font-weight: 600; }
.hanu-bold{ font-family: "Hanuman", sans-serif; font-weight: 700; }
 

